PORT=3005
NODE_ENV=development

CORS_ORIGIN=http://localhost:5173

# Cookies
COOKIE_DOMAIN=localhost

MONGO_URI=mongodb://localhost:27017
MONGO_DB=vitalize

JWT_SECRET=replace_with_minimum_64_char_random_secret_for_access_token_signing_xxx
JWT_REFRESH_SECRET=replace_with_different_minimum_64_char_random_secret_for_refresh_xxx
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$12$4YlVHFxs2hXc6oBl9c3uLeOoqU/xS9WcREJ5J9QOZcZTL7FZ9o5L6

USER_USERNAME=reader
USER_PASSWORD_HASH=$2a$12$cWp9mFfW2oU5qxQpv/7XRu8oPpQ4QyfFGc/QcEqTeBSvvT3qQy3vO

ADMIN_INVITE_CODE=463
