PORT=3005
# NODE_ENV=development
# CORS_ORIGIN=http://localhost:5173
CORS_ORIGIN=https://vita-frontendd.vercel.app
# COOKIE_DOMAIN=localhost

DATABASE_PATH=db/vitalize.sqlite

JWT_SECRET=dev_only_access_secret_64chars_replace_in_production_xxxxxxxxxxxxxxxxxxxxxx
JWT_REFRESH_SECRET=dev_only_refresh_secret_64chars_replace_in_production_yyyyyyyyyyyyyyyyy
JWT_EXPIRY=15m
JWT_REFRESH_EXPIRY=30d
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=$2a$12$hlWJWUbsFTEPicPhh2oIDudQSRoYk5TiUGkzAaOT1cDqJnpsL0ZQi
USER_USERNAME=reader
USER_PASSWORD_HASH=$2a$12$R6xpLd4CUX2YsrVTM7y8COaydpP.f1fKizFMcsZ8UxOppqM/FutQ6
ADMIN_INVITE_CODE=vitalize-admin-invite-2026

DATABASE_CLIENT=postgres
# DATABASE_URL=postgres://vitalize:vitalize_dev@localhost:5433/vitalize
DATABASE_URL=postgresql://database_vita_user:sEw9CwDH9ik2FY8desIc5EgheinTmrnj@dpg-d7snujd0lvsc73ct781g-a/database_vita

# POSTGRES_HOST=localhost
# POSTGRES_PORT=5433
# POSTGRES_USER=vitalize
# POSTGRES_PASSWORD=vitalize_dev
# POSTGRES_DATABASE=vitalize

POSTGRES_HOST=dpg-d7snujd0lvsc73ct781g-a
POSTGRES_PORT=5432
POSTGRES_USER=database_vita_user
POSTGRES_PASSWORD=sEw9CwDH9ik2FY8desIc5EgheinTmrnj
POSTGRES_DATABASE=database_vita

NODE_ENV=production
COOKIE_DOMAIN=.onrender.com
